@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #ffffff;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(255, 255, 255);
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #020617;
  /* width: 460px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh; */
}

footer {
    /* width: 460px;
    margin-left: auto;
    margin-right: auto; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom.css */
.navbar-nav .nav-item .nav-link:hover {
    color: black; /* Change to your desired text color on hover */
    background-color: #f0f0f0; /* Change to your desired background color on hover */
    /* Add any other styling you want for the hover effect */
  }

.pac-container {
    @apply bg-white rounded-lg shadow-lg z-50;
}

.pac-item {
    @apply text-sm py-2 px-4 cursor-pointer;
}

.pac-item:hover {
    @apply bg-gray-100;
}

.pac-item-query {
    @apply font-semibold;
}

.pac-icon {
    display: none;
}

